@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  // primary color
  --clr-lightgreen: hsl(172, 67%, 45%);

  // neutral colors
  --clr-darkgreen: hsl(183, 100%, 15%);
  --clr-title: hsl(186, 14%, 43%);
  --clr-darkgray: hsl(184, 14%, 56%);
  --clr-background: hsl(185, 41%, 84%);
  --clr-lightgray: hsl(189, 41%, 97%);
  --clr-white: hsl(0, 0%, 100%);
}

body {
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
  background-color: var(--clr-background);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6;
}

.app {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__title {
    text-transform: uppercase;
    letter-spacing: 10px;
    color: var(--clr-title);
    margin: 6rem 0rem;
    font-size: 2.4rem;
  }
}

.frame {
  max-width: 850px;
  background-color: white;
  padding: 3rem;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

  display: flex;
  gap: 3rem;
}

.calculator {
  flex: 1;

  &__bill {
    margin-bottom: 3rem;

    label {
      display: block;
      color: var(--clr-title);
      margin-bottom: 1rem;
      font-weight: 600;
      font-size: 1.4rem;
    }

    input {
      display: block;
      width: 100%;
      background-color: #f3f8fa;
      border: none;
      outline: none;
      padding: 1rem;
      border-radius: 5px;
      text-align: right;
      font-family: inherit;
      font-size: 2.4rem;
      font-weight: 600;
      color: var(--clr-title);
      border: 2px solid transparent;

      &:focus {
        border: 2px solid var(--clr-lightgreen);
      }
    }
  }

  &__tip {
    margin-bottom: 3rem;

    &-title {
      display: block;
      color: var(--clr-title);
      font-weight: 600;
      font-size: 1.4rem;
      margin-bottom: 1rem;
    }

    &-options {
      display: flex;
      flex-wrap: wrap;
      border: none;
      @media screen and (max-width: 600px) {
        flex-wrap: wrap;
      }
      gap: 1rem;

      & > * {
        flex: 1 0 30%;

        @media screen and (max-width: 600px) {
          flex: 1 0 40%;
        }
      }

      & > div > input[type="radio"] {
        display: none;
      }

      & > div > input[type="radio"]:checked ~ label {
        color: var(--clr-darkgreen);
        background-color: var(--clr-lightgreen);
      }

      & > div > label {
        background-color: var(--clr-darkgreen);
        color: white;
        width: 100%;
        display: block;
        padding: 0.75rem 2rem;
        text-align: center;
        border-radius: 5px;
        transition: all 0.2s;
        cursor: pointer;
      }

      input[type="number"] {
        display: inline-block;
        width: 100%;
        background-color: #f3f8fa;
        border: none;
        outline: none;
        border-radius: 5px;
        text-align: right;
        font-family: inherit;
        font-size: 2.4rem;
        font-weight: 600;
        color: var(--clr-title);
        padding: 0rem 1rem;

        border: 2px solid transparent;

        &:focus {
          border: 2px solid var(--clr-lightgreen);
        }

        &::placeholder {
          text-align: center;
          text-transform: capitalize;
          font-size: 2rem;
        }
      }
    }
  }

  &__people {
    position: relative;

    .people__error {
      position: absolute;
      top: 0px;
      right: 0px;
      font-weight: 600;
      font-size: 1.4rem;
      color: orange;
    }
    label {
      display: block;
      color: var(--clr-title);
      font-weight: 600;
      font-size: 1.4rem;
      margin-bottom: 1rem;
      position: relative;
    }

    input {
      display: block;
      width: 100%;
      background-color: #f3f8fa;
      border: none;
      outline: none;
      padding: 1rem;
      border-radius: 5px;
      text-align: right;
      font-family: inherit;
      font-size: 2.4rem;
      font-weight: 600;
      color: var(--clr-title);
      border: 2px solid transparent;

      &:focus {
        border: 2px solid var(--clr-lightgreen);
      }
    }
  }
}

.result {
  flex: 1;
  background-color: var(--clr-darkgreen);
  padding: 3.5rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;

  &__contribution {
    margin-top: 2.5rem;
  }

  &__tip,
  &__contribution {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-title {
      color: white;

      h3 {
        font-size: 1.6rem;
      }

      p {
        font-size: 1.2rem;
        color: var(--clr-lightgray);
      }
    }

    &-amt {
      font-size: 4rem;
      font-weight: 600;
      color: var(--clr-lightgreen);
    }
  }

  .reset-btn {
    background-color: #2fdec7;
    color: var(--clr-darkgreen);
    border: none;
    padding: 2rem;
    border-radius: 5px;
    font-family: inherit;
    width: 100%;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 600;
    font-size: 1.6rem;
    margin-top: auto;
  }
}

.form-group {
  label {
    display: block;
  }
}

.submit-btn {
  display: none;
}

@media screen and (max-width: 900px) {
  .frame {
    flex-direction: column;
  }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
